:host{
  cursor: pointer;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}  
.menu_button{
  padding: 15px 15px;
  z-index: 3;
  position: absolute;
}

.menu_button div{
  width: 20px;
  height: 20px;
  background-image: url("/assets/icons/menu_icon.png");
  background-size: cover;
}
#button-ripples{
  width: 40px;
  height: 40px;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  border-radius:50px;
}
.ripple{
  position: absolute;
  border-radius: 50%;
  transition: transform 0.5s linear;
  width: 10px;
  height: 10px;
  /*http://paletton.com/#uid=13-0u0kurKUiMPNozMVJlztHMq9*/
  background-color: #566246;
  opacity: 0.5;
}
.doRipple{
  transform: scale(15);
}
#button-hover{
  position: absolute;
  width: 40px;
  height: 40px;
  transition: background-color .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  opacity: 0.4;
  border-radius:50px;
}

:host:hover #button-hover{
  background-color:#566246;
}