<div class="container">
<div mat-dialog-content >
  <h1 mat-dialog-title>Add Videos to Playlist</h1>
  <form [formGroup] = "formGroup" (ngSubmit)="onSubmit()">
    <div #formArray class="form-field-con" formArrayName="urls">

      <div #formArray *ngFor="let url of urls.controls; let i=index" class="url-input-con">
        <input  minLength="5" placeholder="Video Url" class="url-input" [formControlName]="i">
        <div class="url-error" *ngIf="urls.controls[i].invalid && urls.controls[i].dirty && !urls.controls[i].pending">This url is invalid.</div>
        <div class="url-pending" *ngIf="urls.controls[i].pending">Validating...</div>
      </div>
      <div class="plus-icon-con">
        <div class="plus-icon" (click)="addLink()"></div>
      </div>
    </div>
    <button *ngIf="!loading" type="submit" mat-button color="accent" [disabled]="!formGroup.valid"class="submit-button">Add Videos to Playlist</button>
    <mat-spinner *ngIf="loading" diameter=50></mat-spinner>
  </form>
</div>
<mat-dialog-actions>
  <button class="button button-med" mat-dialog-close>Close</button>
</mat-dialog-actions>
</div>