<nav>
  <ul>
    <li>
      <ul class="leftside">
        <li class="nav-component button-li">
          <app-menu-button (mousedown)="doRipple($event)" [xCord]="clientX" [yCord]="clientY" [clicked]="clicked"></app-menu-button>
        </li>
        <li class="nav-component logo-con">
          <div class="logo"></div>
          <a [routerLink]="['/']" class="anchor"></a>
        </li>
      </ul>
    </li>
    <li class="search-bar">
      <form [formGroup]="formGroup" id="query" (ngSubmit)="onSubmit($event)">
        <div>
          <input type="text" class="search-bar-input" formControlName="query"/>
        </div>
      </form>
      <button form ="query" type="submit" class="search-icon-button button button-med"><span class="search-icon"></span></button>
    </li>
    <li>
      <ul>
        <li class="end" *ngIf="authenticated">
          <button class="login-register-logout button" (click)="logout()">
            <span>Logout</span>
            <a [routerLink]="['/']" class="anchor"></a>
          </button>
        </li>
        <li  *ngIf="authenticated" class="nav-component end">
          <button class="account" [routerLink]="['/profile',user.id]">
            <span></span>
          </button>
        </li>
        <li class="end" *ngIf="!authenticated">
          <button class="login-register-logout button">
            <span>Login</span>
            <a routerLink="/login" class="anchor"></a>
          </button>
        </li>
        <li class="end" *ngIf="!authenticated">
          <button class="login-register-logout button">
            <span>Register</span>
            <a [routerLink]="['/register']" class="anchor"></a>
          </button>
        </li>
<!--         <li class="nav-component end">
          etc...
        </li>
        <li class="nav-component end">
          etc....
        </li> -->
      </ul>
    </li>
  </ul>
</nav>