<nav>
  <ul>
    <li>
      <ul class="leftside">
        <li class="nav-component button-li">
          <app-menu-button (click)="toggleShowing()" (mousedown)="doRipple($event)" [xCord]="clientX" [yCord]="clientY" [clicked]="clicked"></app-menu-button>
        </li>
        <li class="nav-component">
          etc....
        </li>
      </ul>
    </li>
    <li class="search-bar">
      <form>
        <div>
          <input type="text" class="search-bar-input"/>
        </div>
      </form>
      <button class="search-icon-button button button-med"><span class="search-icon"></span></button>
    </li>
    <li>
      <ul>
        <li class="nav-component end">
          <div class="account">
            <span></span>
          </div>
        </li>
<!--         <li class="nav-component end">
          etc...
        </li>
        <li class="nav-component end">
          etc....
        </li> -->
      </ul>
    </li>
  </ul>
</nav>