:host{
  width:100%;
  height:50px;
  z-index:1000;
  background-color: #F1F2EB;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  position: fixed;
  top: 0;
}

nav{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.leftside li:nth-child(1){
  position:relative;
  width:50px;
  height:50px;
  display:block;
  border-radius: 50px;
  overflow: hidden;
  margin: 0px 10px;
}

.logo-con{
  display: inline-block;
  position: relative;
  width: 100px;
  height: 30px;
}

.logo{
  background-image: url('/assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.nav-component{

}

nav ul:nth-child(1){
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.search-bar{
  display: flex;
  justify-content: center;
  /*flex-basis: 500px;*/
  flex: 1;
  margin: 0px 40px;
  align-items: center;
}

.search-bar form{
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 640px;
  height: 32px;
  border: 1px solid #D8DAD3;
  align-items: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  border-right:none;
}

.search-bar form div{
  padding: 2px 6px;
  width: 100%;
}

.search-bar-input{
  width: 100%;
  flex: 1;
  outline: none;
  font-size: 16px;
  border: none;
  background-color: transparent;
  margin-left: 4px;
  padding: 1px;
}

.search-icon-button{

  /*background-color:#fff;*/
  border: 1px solid #D8DAD3;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  display:inline-block;
  width:64px;
  height:34px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
  text-align:center;
}

.search-icon{
  background-image: url('/assets/icons/search_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  display:inline-block;
  width:20px;
  height:100%;
}

.account{
  height: 34px;
  width:34px;
  border-radius: 50%;
  border: 1px solid #d8dad3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#fff;
  cursor: pointer;
  outline:none;
}

.account span{
  height:20px;
  width:20px;
  background-image: url('/assets/icons/user_icon_24.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.account:active{
  border: 1px solid #0074D9;
}

.end{
  justify-content: flex-end;
  margin-right:10px;
}

.login-register-logout{
  position: relative;
  display: inline-block;
  border: 1px solid #d8dad3;
  border-radius: 5px;
  font-size: 0.9em;
  box-sizing: border-box;
  padding: 3px;
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .search-bar{
    margin: 0px 10px;
  }
  .search-icon-button{
    width:36px;
  }
}

@media only screen and (max-width: 500px) {
  .logo{
    margin-top:8px;
  }
  .logo-con{
    width:50px;
    height:30px;
  }
  .login-register-logout{
    font-size:0.7em;
  }
  .leftside li:nth-child(1){
    margin: 0px;
  }
}