<div class="upper-container">
  <video #videoPlayer autoplay class="video" (ended)="onEnded()" controls>
      <source [attr.src]="videoSource" type="video/mp4">
      <source [attr.src]="videoSource" type="video/ogg">
      <source [attr.src]="videoSource" type="video/webm">
      Your browser does not support the video tag.
  </video>
  <!-- <div class="caret-con">
    <button class="toggle-button button" (click)="doClick()">
      <span></span>
    </button>
    <div class="caret-hover"></div>
  </div> -->
  <div class="description">
    <h1>
      {{currentVideo.title}}
    </h1>
    <div class="views column">
      {{currentVideo.view}} views
    </div>
    <hr>
    <div class="uploader column">
      Uploaded by {{currentVideo.uploaderUsername}}
    </div>
    <p class="published column">
      Published on {{currentVideo.date}}
    </p>
    <hr>
    <p class="description_desc column">
      {{currentVideo.description}}
    </p>
  </div>
</div>
<div class="lower-container">
  <app-view-video-playlist *ngIf="playlist != null" [data]="playlist" [video]="currentVideo"></app-view-video-playlist>  
</div>
