:host{
  display: inline-block;
  position: relative;
  width:100%;
  height:100%;
  margin-top:10px;
  color: #4a4a48;
}

.list-con{
  display: flex;
  flex-direction: row;
  width:95%;
  margin: 0 auto 10px;
  position:relative;
  height:117.6px;
}

.left-con{
  display: flex;
  flex-direction: row;
  width:100%;
  position:relative;
}
.thumbnail{
  display: inline-block;
  min-width: 210px;
  height:117.6px;
  /*0.56*/
}

.details{
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 5px 5px 10px;
}

.detail-comp{
  display: block;

}

.description{
  display: inline-block;
  width: 100%;
  height: 100%;
  word-break: normal;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: auto;
  border-left: 1px solid #566246;
  box-sizing: border-box;
  padding: 5px;
}

h2{
  font-size: 1.2em;
  font-weight: 600;
}

p{
  font-size: 1em;
    font-weight: 400;
}

.anchor{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
@media only screen and (max-width: 440px) {
  .list-con{
    height: auto;
  }
  .left-con{
    flex-direction: column;
  }
  .description{
    display: none;
  }
  .thumbnail{
    width: 100%;
    height: auto;
    
  }
}