<!-- <div class="container"> -->
  <div class="list-con" *ngFor="let video of list;let i = index">
    <div class="left-con">
      <img [src]="video.thumbnail" class="thumbnail"/>
      <div class="details">
        <h2 class="detail-comp">{{video.title}}</h2>
        <p class="detail-comp">Uploader: {{video.uploaderUsername}}</p>
        <p class="detail-comp">{{video.view}} views</p>
      </div>
      <a class="anchor" [routerLink]="['/view',video.id]"></a>
    </div>
    <div class="description">
      {{video.description}}
    </div>

  </div>
<!-- </div> -->