<div  class="container">
  <div mat-dialog-content>
    <h1 mat-dialog-title>Create a Playlist</h1>
    <form [formGroup] = "formGroup" (ngSubmit)="onSubmit()" >
      <div class="form-field-con">
        <mat-form-field class="mat-input">
          <input matInput #title type="text" minLength="5" maxLength="75" formControlName="title" placeholder="Title" [errorStateMatcher]="matcher">
          <mat-hint align="end">{{title.value.length}} / 75</mat-hint>
          <mat-error *ngIf="titleControl.hasError('required')">
            Title is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div #formArray class="url-con" formArrayName="urls" >
          <div *ngFor="let url of urls.controls; let i=index" class="url-input-con">
            <input  minLength="5" placeholder="Video Url" class="url-input" [formControlName]="i">
            <div class="url-error" *ngIf="urls.controls[i].invalid && urls.controls[i].dirty && !urls.controls[i].pending">This url is invalid.</div>
            <div class="url-pending" *ngIf="urls.controls[i].pending && !urls.controls[i].valid">Validating...</div>
          </div>
          <div class="plus-icon-con">
            <div class="plus-icon" (click)="addLink()"></div>
          </div>
        </div>
      </div>
      <button *ngIf="!loading" type="submit" mat-button [disabled]="!invalidUrl || !formGroup.valid" color="accent" class="submit-button">Create Playlist</button>
      <mat-spinner *ngIf="loading" diameter=50></mat-spinner>
    </form>
  </div>
  <mat-dialog-actions>
    <button class="button button-med" mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>