<div class="container" appWindowSize>
  <!-- <div class="test"> -->
  <div class="playlist" *ngFor="let value of data.playlists; let i = index;">
    <div class="inner-con">
      <div class="img-con">
        <img [src]="data.playlists[i].list[0].thumbnail"/>
        <div class="img-con-cover">
          <div class="img-con-play img-con-icons"></div>
          <div class="img-con-edit img-con-icons"></div>
          <div class="img-con-cover-fill"></div>
        </div>
      </div>
      <div class="right-container">
        <div class="description"></div>
        <div class="list">
          <ul>
            <li class="value-name">{{value.name}}</li>
            <li class="value-created">&nbsp;&nbsp;&nbsp;Created on {{value.created}}</li>
            <li class="value-list" (mouseenter) = "mouseenterList($event)" (mouseleave)= "mouseleaveList($event)">
              <ul class="playlist-list-con">
                <li *ngFor="let val of orderList(value.list); let ind = index;">{{ind+1}}. {{val.h3}}</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
              </ul>
              <div class="playlist-list-con-cover"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>