<div class="container">
  <!-- <div class="test"> -->
  <div class="banner-container">
    <div class="banner">
    </div>
    <div class="banner-content">
      <h1>
        {{playlists[0].userId}}'s Playlists
      </h1>
    </div>
  </div>
  <div class="playlist" *ngFor="let value of playlists; let i = index;">
    <div class="inner-con">
      <div class="img-con">
        <img [src]="value.thumbnail"/>
        <div class="img-con-cover">
          <div class="img-con-play img-con-icons"><a [routerLink]="value.url" [queryParams]="{playlist:value.id}"></a></div>
          <div class="img-con-edit img-con-icons" *ngIf="getEditAuthorization(value.userId)"><a [routerLink]="value.edit_url"></a></div>
          <div class="img-con-cover-fill"></div>
        </div>
      </div>
      <div class="right-container">
        <div class="description"></div>
        <div class="list">
          <ul>
            <li class="value-name">{{value.title}}</li>
            <li class="value-updated">&nbsp;&nbsp;&nbsp;Last updated on {{value.date}}</li>
            <li class="value-list" (mouseenter) = "mouseenterList($event)" (mouseleave)= "mouseleaveList($event)">
              <ul class="playlist-list-con">
                <li *ngFor="let val of value.playlist; let ind = index;">
                  <a [routerLink]="['/view', val.id]" [queryParams]="{playlist: value.id}" class="list-anchor">{{ind+1}}. {{val.title}}</a>
                </li>
              </ul>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>