:host{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  min-height:80vh;
  position: relative;
  box-sizing: border-box;
}

/*@media 601px*/
.form-container{
  width: 450px;
  display: block;
  margin: 0 auto;
  box-sizing: inherit;
  border: 1px solid #d8dad3;
  border-radius: 5px;
}

.inner-con{
  height: auto;
  box-sizing: inherit;
  min-height:300px;
  padding: 48px 40px;
  background-color:#fff;
  border-radius:5px;
}

h1{
  text-align:center;
  height:4rem;
}

mat-form-field{
  width:100%;
}

.submit-con{
  width:100%;
  text-align: center;
}

.submit{
  
}

.login-notice{
  position: fixed;
  left: 75%;
  width: 150px;
  height: 70px;
  background-color: #fff;
  display: block;
  top: 80px;
  border-radius: 5px;
  border-color: #a4c2a5;
  border-style: dotted;
}

@media only screen and (max-width: 440px) {
  :host{
    margin-top:0px;
  }
  .form-container{
    width:95%;
  }
}