
<div #videosContainer class="videos-container">
  <div class="videos-container2">
    <h2>{{data.h2}}</h2>
    <div class="arrow-left-con arrow" (click)="handleClick('left')"> <div class="left-arrow"></div><div class="cover"></div></div>
    <div class="arrow-right-con arrow" (click)="handleClick('right')"><div class="right-arrow"></div><div class="cover"></div></div>
    <div #videosContainer3 class="videos-container3">
      <app-video-list-tab *ngFor="let value of objectValues(data.list); let i = index;" [value]="value" [videoId]="i + 1" [videos]="numOfVid"></app-video-list-tab>
    </div>
  </div>
</div>