:host{
  display: flex;
  overflow:hidden;    
  /*flex-wrap: wrap;*/
  max-height:280px;
  justify-content: center;
  width:100%;
}
h2{
  color: #4a4a48;
  position: absolute;
  left:0;
}

/*ratio=0.625*/
/*change font..don't like bold fonts*/
.videos-container{
/*  display: flex;
  flex-wrap: wrap;*/
  overflow: hidden;
  display: block;
  position: relative;
}

.videos-container2{
  white-space: nowrap;
  display: inline-block;
}

.videos-container3{
  transition: transform .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.page{
  position:absolute;
  left: 50%;
  width:30px;
  height:30px;
  user-select:none;
  padding-top: 3px;
  margin-left:-15px;
}

.left-arrow{
  height:100%;
  background-image: url("/assets/icons/arrow-left.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1px;
  margin: 0 auto;
}
.right-arrow{
  height:100%;
  background-image: url("/assets/icons/arrow-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.arrows-container{
  position: absolute;
  width:120px;
  height:25px;
  left:50%;
  z-index:2;
  margin-left: -60px;
}
.arrow{
  width:40px;
  height:25px;
      padding: 2px 9px;
  box-sizing: border-box;
}
.arrow-left-con{
  position: relative;
  float:left;
}
.arrow-left-con:hover .left-arrow{
  /*animation: leftarrow 1s infinite;*/
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);;
}
.arrow-right-con{
  position: relative;
  float:right;
}
.arrow-right-con:hover .right-arrow{
  /*animation: rightarrow 1s infinite;*/
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);;
}


@keyframes leftarrow{
  0%{
    transform:translateX(0px);
  }
  100%{
    transform:translateX(-20%);
  }
}
@keyframes rightarrow{
  0%{
    transform:translateX(0px);
  }
  100%{
    transform:translateX(20%);
  }
}

@media only screen and (max-width: 630px) {
  .arrows-container{
    left: auto;
    right: 0;
  }
  h2{
    font-size:1.3em;
  }
}

@media only screen and (max-width: 420px) {
  .arrows-container{
    position: relative;
    display: block;
  }
  h2{
    font-size:1.1em;
    display: block;
    position: relative;
  }
}