:host{
  display: flex;
  overflow:hidden;    
  /*flex-wrap: wrap;*/
  justify-content: center;
  width:100%;
}
div[hidden] { display: none; }
h2{
  color: #4a4a48;
  position: relative;
  font-weight: 600;
  font-size: 18px;
}


/*ratio=0.625*/
/*change font..don't like bold fonts*/
.videos-container{
/*  display: flex;
  flex-wrap: wrap;*/
  overflow: hidden;
  display: block;
  position: relative;
  background-color: #d8dad3;
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.videos-container2{
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.header{
  position: relative;
  width:100%;
  margin-top: 5px;
}

.videos-container3{
  transition: transform .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: relative;
}

.page{
  position:absolute;
  left: 50%;
  width:30px;
  height:30px;
  user-select:none;
  padding-top: 3px;
  margin-left:-15px;
  font-size: 14px;
}

.left-arrow{
  height:100%;
  background-image: url("/assets/icons/arrow-left.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1px;
  margin: 0 auto;
}
.right-arrow{
  height:100%;
  background-image: url("/assets/icons/arrow-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.arrows-container{
  position: absolute;
  width:120px;
  height:25px;
  left:50%;
  z-index:2;
  margin-left: -60px;
  top:0px;
  color: #566246;
  font-weight: 600;
}
.arrow{
  width:40px;
  height:25px;
      padding: 2px 9px;
  box-sizing: border-box;
}
.arrow-left-con{
  position: relative;
  float:left;
}
.arrow-left-con:hover .left-arrow{
  /*animation: leftarrow 1s infinite;*/
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);;
}
.arrow-right-con{
  position: relative;
  float:right;
}
.arrow-right-con:hover .right-arrow{
  /*animation: rightarrow 1s infinite;*/
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);;
}

.arrowsRight{
  left: auto;
  right: 0;
}
@keyframes leftarrow{
  0%{
    transform:translateX(0px);
  }
  100%{
    transform:translateX(-20%);
  }
}
@keyframes rightarrow{
  0%{
    transform:translateX(0px);
  }
  100%{
    transform:translateX(20%);
  }
}

@media only screen and (max-width: 860px) {
  .arrows-container{
  }
  h2{
    font-size:1em;
  }
}

@media only screen and (max-width: 440px) {
  .arrows-container{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  h2{
    font-size:0.9em;
    display: block;
    position: relative;
    margin-bottom: 0px;
  }
}