:host{
  top:50px;
  position:relative;
  transition: margin-left .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: flex;
  justify-content: center;
  height:100%;
  background-color: #fff;
  padding-top:15px;
}

:host.is-open-view{
  margin-left:200px;
}
:host:not(.is-open-view){
  margin-left: 0px;
}