:host{
  top:50px;
  position:absolute;
  transition: margin-left .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  /*overflow: hidden;*/
  display: flex;
  justify-content: center;
  width:100%;
  background-color: #f1f2eb;
  min-height: 90vh;
  /*transition: width .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);*/
  /*try 100% - 64px;*/
}

:host.is-open-view{
  margin-left:200px;
}
