/* You can add global styles to this file, and also import other style files */
/*@import './theme.scss';*/
body{
  /*background-color: #F1F2EB;*/
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
}
h1{
  color: #4a4a48;
}
ul, li{
  list-style: none;
}

.button{
  border: 1px solid #d8dad3;
  border-radius:3px;
  background-color: #f1f2eb;
  transition: background-color 250ms cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}
.button:hover{
  background-color: #a4c2a5;
}
.button:active{
  background-color:#566246;
}

.button-med{
  height:30px;
  padding:0px 5px;
}

.button-lar{
  height:40px;
  font-size:1em;
  padding: 0px 10px;
}