:host{
  /*padding: 20px 70px;*/
  /*width: 100%;*/
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
}

.section{
  overflow: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}