:host{
  padding: 10px 2px;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 210px;
  max-height: 240px;
  position: relative;
  cursor: pointer; 
  min-width: 210px;
  max-height: 240px;
  display: inline-block;
  vertical-align: top;
}

:host:hover .video-title{
  color: #566246;
}

.video-title{
  font-size: 16px;
  font-weight: 600;
  max-height:40px;
  /*transition: color .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);*/
  cursor: pointer;
}
img{
  width:200px;
  height:125px;
  display: block;
  margin: 5px auto;
  cursor: pointer;
}

.video-uploader, .video-views, .video-title{
  display: block;
  overflow: hidden; 
  width: 200px;
  margin: 0 auto;
  word-break: break-word;
  white-space: normal;
}

.video-uploader, .video-views{
  font-size:13px;
  font-weight:400;
  color: #566246;
}
a{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
}